Options +FollowSymLinks
RewriteEngine On

<IfModule mod_rewrite.c>

	# Убираем лишние слеши на конце URL
	RewriteCond %{THE_REQUEST} //
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/$0 [R=301,L]

	# Убираем index.php на конце
	RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
	RewriteRule ^(.*)index\.php$ https://%{HTTP_HOST}/$1 [R=301,L]

	# Убираем index.html на конце
	RewriteCond %{REQUEST_URI} ^(.*)/index\.html$
	RewriteRule ^(.*)index\.html$ https://%{HTTP_HOST}/$1 [R=301,L]

</IfModule>



RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]